body{
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
/* Start Header */
.image_bg{
    width: 100%;
}
@media (max-width:895px){
    header nav ul li:not(:last-child){
        display: none;
    }
}
@media (max-width:400px) and (min-width:895px){
    header nav ul li:not(:last-child){
        display: none;
    }
}
@media (max-width:895px){
    .image_bg{
        width: 100%;
    }
    .image_bg{
        max-width: 100%;
        height: 600px;
    }
    
    header .image_content .div_eg1{
        max-width: 660px;
    }
 }
 @media (min-width:895px) and (max-width:1115px){
    header .image_content .div_eg1{
        max-width: 790px;
    }
 }
 @media (max-width:895px){
    .big_booking .book_1 .coll_1{
        position: relative;
        left: -223px;
    }
    .rectangle{
        height: 500px;
    }
    .rectangle .book_2 .round_1{
        display: block;
    }
 }
/*small*/
/* @media (min-width: 768px){
    header{
        width: 750px;
    }
} */
/*medium*/
/* @media (min-width: 992px){
    header{
        width: 970px;
    }
} */
/*large*/
/* @media (min-width: 1200px){
    header{
        width: 1170px;
    }
} */

/* start  icon*/
header .links{
    position: relative;
    display: inline-block;
    top: -10px;
    right: -6px;
}
header .links:hover .icon span:nth-child(2){
    width: 100%;
}
header .links .icon{
    width: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}
header .links .icon span{
    background-color: rgb(93, 94, 95);
    margin-bottom: 5px;
    height: 2px;
}

header .links .icon span:first-child{
   width: 100%;
}
header .links .icon span:nth-child(2){
    width: 60%;
    transition: 0.3s;
}
header .links .icon span:last-child{
    width: 100%;
}
header .links ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
    background-color: #f6f6f6;
    position: absolute;
    right: 0px;
    min-width: 200px;
    top: calc(100% + 15px);
    display: none;
    z-index: 1;
}
header .links ul::before{
    content: "";
    border-width: 10px;
    border-color: transparent transparent #f6f6f6 transparent;
    border-style: solid;
    position: absolute;
    right: 5px;
    top: -20px;
}
header .links:hover ul{
   display: block;
}
header .links ul li a{
    display: block;
    padding: 7px;
    text-decoration: none;
    color: #333;
    transition: 0.3s;
}
header .links ul li a:hover{
    padding-left: 25px;
}
header .links ul li:not(:last-child) a{
    border-bottom: 1px solid #ddd;
}
/* end icon */



.header_container{
    background-color: white;
    position: absolute;
    top: 0;
    width: 100%;
    height: 90px;
    z-index: 20;
    box-shadow: 0px 9px 16px 0px rgba(0,0,0,0.2);
    position: fixed;
}
.container{
    margin: 20px;
}
.header_container .container .header_content .logo img{
    width: 170px;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
    color: black;
}
.nav_list{
    position: absolute;
    top: 0;
    right: 0;
    float: right;
    margin: 20px 70px;
}
.nav_list .nav-link{
    color: black;
    font-size: 14px;
    border-right: 1px solid black;
    
}

/* .nav_list .nav-link:not(:last-child){
    border-right: 1px solid black;
} */
/* .nav_list .dropdown:hover{
    color: white;
    height: 60px;
    border: 1px solid rgb(15, 149, 167) ;
    border-radius: 10px;
} */
/* .nav_list .dropdown a:hover{
    font-size: 15px;
} */
.nav_list .dropdown i:hover{
    color: white;
}
.nav_list .dropdown .size_icon{
    font-size: 20px;
}
/* .nav_list .dropdown .size_icon:hover{
    position: relative;
    top:16px ;
} */
.nav_list .nav-link:hover{
    color: #ffffff;
    background-color: #02027c;
    height: 90px;
    position: relative;
    top: -20px;
    padding-top: 28px;
    margin-left :8px;
}

.nav_header .nav_list ul li {
    float: left;
}

.menu_li .men_cls{
    border: none;
}
.menu-list a i{
    color: black;
  }
  /* Dropdown button on hover & focus */
  /* .dropbtn:hover, .dropbtn:focus , .menu-list:hover { */
    /* border-bottom: 1px solid #0d6efd; */
    /* border: 1px solid #0d6efd; */
    /* color: #0d6efd;
    border-radius: 8px; */
    /* background-color: #020456;
    color: white;
    height: 100px;
    padding-top: 20px; */
  /* } */
  /* .dropdown:hover{
    background-color: #02027c;
    margin: 0 10px;
    height: 90px;
    position: relative;
    top: -20px;
    padding-top: 21px;
    color: white;
  } */
  
  /* .menu-list a i:hover{
    color: #0d6efd;
  } */
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 185px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content-2 {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 400px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content-2 form{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content-2 form label{
    padding: 10px 10px 20px;
    font-size: 20px;
  }
.dropdown-content-2 form select{
    width: 165px;
    height: 33px;
    margin: 2px 8px;
    border-color: #d1d0cf;
    border-radius: 5px;
   }
   .dropdown-content-2 form .go{
    background-color: #0d6efd;
    color: white;
    border-radius: 15px;
    padding: 6px 26px;
    font-size: 17px;
    border-color: #0d6efd;
   }
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}
  .show-2 {display:block;}


.image_content .div_eg1{
    width: 1160px;
    height: 50px;
    background-color: rgba(255,255,255,.5);
    border-radius: 9px;
    position: absolute;
    top: 107px;
    padding: 15px;
    right: 75px;
}
.image_content .div_eg1 .Ex_cont{
    display: inline;
    position: absolute;
    left: 70px;
}
.image_content .div_eg1 .Ex_mark i{
    text-align: center;
    background-color: #020456;
    width: 53px;
    height: 50px;
    position: absolute;
    top: 0px;
    left: 0px;
    border-radius: 9px 0 0 9px;
    padding-top: 14px;
    color: white;
    font-size: 25px;
}
.image_content_2{
    position: absolute;
    top: 160px;
    padding: 15px;
    left: 99px;
    color: #020456;
}
.image_content_2 p{
    font-size: 20px;
    padding-bottom: 10px;
}
.image_content_2 span{
    font-size: 13px;
}

.image_content_2 a{
    background-color: #020456;
    padding: 15px;
    border-radius: 15px;
    color: white;
    text-decoration: none;
}
.image_content_2 a:hover{
    text-decoration: underline;
    color: white;
}

.big_booking .book_1{
    width: 930px;
    position: absolute;
    top: 450px;
    padding: 15px;
    left: 254px;
}
.big_booking .book_1 .coll_1 a{
    text-decoration: none;
    color: #020456;
}
.big_booking .book_1 .coll_1{
    background-color: white;
    color: #020456;
    padding: 10px 30px;
    border-radius: 9px;
    display: inline;
    margin: 10px;
}
.big_booking .book_1 .coll_1 .sty_btn i{
    padding-right: 4px;
}
.big_booking .book_1 .btn_one{
    background-color: #020456;
}
.big_booking .book_1 .btn_one .cont_1{
    color: white;
    z-index: 4;
}
.big_booking .book_1 .coll_1:hover{
    background-color: #020456;
} 
.big_booking .book_1 .coll_1 .sty_btn:hover{
    color: white;
}
.big_booking .book_1 .coll_1 .i_2{
    position: relative;
    bottom: -23px;
    rotate: 90deg;
}

.rectangle{
    width: 1134px;
    height: 196px;
    border-radius: 8px;
    position: absolute;
    top: 515px;
    left: 106px;
    background: rgba(255,255,255,.9);
    border: 2px solid rgba(1,48,104,.41);
    box-shadow: 0px 4px 6px rgba(0,0,0,.25);
    padding: 20px 24px;
    margin: 0 auto;
}
.rectangle .rect_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    flex-wrap: wrap;
    padding: 0 8px;
}
.rectangle .rect_header .head_red{
    display: flex;
    align-items: center;
}
/* .rectangle .rect_header .head_red input{
    padding-right: 4px;
} */
.rectangle .rect_header .head_red label{
    color: #013068;
    position: relative;
    font-size: 16px;
    font-weight: bold;
    padding: 0px 25px 0 4px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
.rectangle .head_lin{
    display: flex;
    align-items: flex-end;
}
.rectangle .head_lin a{
    text-decoration: none;
    font-size: 16px;
    color: #00449a;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
.rectangle .head_lin a:hover{
    color: #013068;
    text-decoration: underline;
}
.rectangle .head_lin .a_1{
    padding-right: 15px;
}

.rectangle .book_2 .coll_2 a{
    text-decoration: none;
    color: #013068;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
}
.rectangle .book_2 .coll_2{
    background-color: #efefef;
    color: #020456;
    padding: 10px 30px;
    border-radius: 9px;
    margin: 10px;
    display: inline-block;
    width: 247px;
}
.rectangle .book_2 .coll_2 .round_1 i{
    padding-right: 3px;
}
.rectangle .book_2 .coll_2 .round_2 i{
    padding-left: 40px;
}
/* End Header */
/* Start Body */
.page_body{
    background-image: url(../images/homeOffersBanner.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding: 80px 0 3px;
    margin-top: 180px;
}
.page_body .container{
    margin-top: 0px;
}
.page_body .container .page_content{
    text-align: center;
}
.page_body .container .page_content h2{
    font-size: 39px;
    color: #000;
    margin: 0 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    
}
.page_body .container .page_content p{
    color: #666;
    margin: 0 0 40px;
}
.page_body .container .page_content a{
    text-decoration: none;
    background-color: #16267a;
    color: white;
    padding: 15px;
    border-radius: 15px;
}
.page_body .container .page_content ul{
    margin: 38px 0 10px;
}
.page_body .container .page_content ul li{
    display: inline-block;
    margin: 0 25px 20px;
    cursor: pointer;
}
.page_body .container .page_content ul .act{
    border-bottom: 2px solid #16267a;
}
.page_body .container .country_content a img{
    height: 185px;
    width: 297px;
    border-radius: 7px 0 0 7px;
}
.page_body .container .country_content .images_content1{
    width: 1000px;
}
.page_body .container .country_content .images_content1 .img_cont1{
    display: inline-block;
    background-color: #16267a;
    color: white;
    padding: 25px;
    position: relative;
    top: 73px;
    left: -4px;
    border-radius:0 7px 7px 0 ;
    height: 185px;
    width: 297px;
}
/* .page_body .container .country_content .images_content2{

} */
.page_body .images_content3 a{
    text-decoration: none;
}
.page_body .country_content{
    position: relative;
    bottom: 75px;
    right: 94px;
}
.page_body .images_content3 h3{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 12px;
    color: white;
}
.page_body .images_content3 h2{
    padding-bottom: 12px;
    font-size: 26px;
    color: white;
}
.page_body .images_content1 .img_cont1 h3{
    font-size: 15px;
    font-weight: bold;
    padding-bottom: 12px;
}
.page_body .images_content1 .img_cont1 h2{
    padding-bottom: 12px;
    font-size: 26px;
}
.page_body .images_content3 .img_cont3{
    padding: 20px;
}
.page_body .images_content1 .img_cont1 .an_i{
    position: relative;
    left: 245px;
}
.page_body .images_content3 .an_i{
    bottom: 3px;
    position: relative;
    left: 217px;
    background-color:#16267a;
    color: white;
    height: 73px;
    padding: 33px 13px 10px 10px;
    width: 50px;
    text-align: right;
    border-radius: 55px 0 0 0;
}
.page_body .container .country_content .in_ul li{
    display: inline-block;
    margin: 8px 44px 10px;
    /* display: grid;
    grid-template-columns: repeat(auto-fill,minmax(400px,1fr));
    grid-column-gap: 40px;
    grid-row-gap: 60px; */
}
.page_body .container .country_content .imagees1{
    background-image: url(../images/1.1.jpg);
    display: block;
    position: relative;
    height: 185px;
    width: 255px;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #16267a;
    text-decoration: none ;
    outline: 0 ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page_body .container .country_content .imagees2{
    background-image: url(../images/1.2jpg.jpg);
    display: block;
    position: relative;
    height: 205px;
    width: 285px;
    border-radius: 7px;
    overflow: hidden;
    background-color: #16267a;
    text-decoration: none ;
    outline: 0 ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page_body .container .country_content .imagees3{
    background-image: url(../images/1.3.jpg);
    display: block;
    position: relative;
    height: 205px;
    width: 285px;
    border-radius: 7px;
    overflow: hidden;
    margin-left: -67px;
    background-color: #16267a;
    text-decoration: none ;
    outline: 0 ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page_body .container .country_content .imagees4{
    background-image: url(../images/1.4.jpg);
    display: block;
    position: relative;
    height: 205px;
    width: 285px;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
    background-color: #16267a;
    text-decoration: none ;
    outline: 0 ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page_body .container .country_content .imagees5{
    background-image: url(../images/1.5.jpg);
    display: block;
    position: relative;
    height: 205px;
    width: 285px;
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 20px;
    margin-left: -67px;
    background-color: #16267a;
    text-decoration: none ;
    outline: 0 ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.page_body .country_content span a{
    text-decoration: none;
    color: #000;
    position: relative;
    left: 543px;
}
.page_body .country_content span a:hover{
    text-decoration: underline;
}

/* End Body */
/* Start Before Fly */
.before_fly{
    width: 100%;
    height: 425px;
    background-color: #ededed;
    padding: 80px 0px 50px;
    position: relative;
    text-align: center;
}
.before_fly .container{
    background-color: transparent;
    border: 1px transparent;
    color: inherit;
    margin: 0 auto;
    width: auto;
}
.before_fly .container h2{
    font-size: 39px;
    color: #000;
    margin: 0 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    
}
.before_fly .container p{
    color: #666;
    margin: 0 0 30px;
}
.before_fly .container .before_conent ul a{
    text-decoration: none;
    color: #000;
}
.before_fly .container .before_conent ul i{
    font-size: 50px;
    color: #8e8e8e;
}
.before_fly .container .before_conent ul div{
    color: #000;
    padding-top: 5px;
}
.before_fly .container .before_conent ul li{
    padding: 50px 40px 20px;
}
.before_fly .container .before_conent ul{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.before_fly .container .before_conent ul li:hover{
    /* background-color: #02027c; */
    border: 1px solid #16267a; 
    box-shadow: 0px 4px 6px rgba(0,0,0,.25);
    /* color: white; */
    width: 150px;
    height: 140px;
    border-radius: 8px;
    text-align: center;
    padding: 40px 15px 15px;
    /* padding: 50px 0 30px 0; */
    /* margin: 0; */
}
/* .before_fly .container .before_conent ul i:hover , .before_fly .container .before_conent ul div:hover {
    color: white;
} */

/* End Before Fly */
/* Start Services */
.Services{
    width: 100%;
    height: 1281px;
    background-color: #ffffff;
    padding: 80px 0px 50px;
    position: relative;
    text-align: center;
}
.Services .container h2{
    font-size: 39px;
    color: #000;
    margin: 0 0 5px;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
    font-family: 'Poppins', sans-serif;
    
}
.Services .container p{
    color: #666;
    margin: 0 0 60px;
}
.Services .sev_row .col-6 , .Services .sev_row .col-3 , .Services .sev_row .row_dif1 , .Services .sev_row .row_dif2 ,.Services .sev_row .row_dif3 ,
.Services .sev_row .row2_dif1 , .Services .sev_row .row2_dif2 ,.Services .sev_row .row2_dif3 {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 8px;
}
.Services .sev_row .col-6 a {
    text-decoration: none;
}
.Services .sev_row .col-6 a h2 {
    color: #fff;
    margin: 0;
    text-shadow: 0 0 10px #000;
    font-size: 20px;
    font-weight: bold;
    text-align: start;
    position: relative;
    top: 337px;
    z-index: 11;
}
.Services .sev_row .col-6{
    background-image: url(../images/2.1.jpg);
    width: 555px;
    height: 380px;
    margin-right: 30px;
}
.Services .sev_row .dif_img1{
    background-image: url(../images/2.2.png);
    width: 262.5px;
    height: 250px;
    margin-right: 30px;
}
.Services .sev_row .dif_img2{
    background-image: url(../images/2.3.png);
    width: 262.5px;
    height: 250px;
}
.Services .sev_row .col-6 a .an_i2{
    position: relative;
    left: 245px;
}
.Services .sev_row .col-6 a .an_i2{
    position: relative;
    left: 254px;
    background-color: #16267a;
    color: white;
    height: 73px;
    padding: 33px 13px 10px 10px;
    width: 50px;
    text-align: right;
    border-radius: 55px 0 8px 0;
    top: 283px;
    z-index: 15;
}
.Services .sev_row .hed_link:before {
    content: "";
    border-radius: 10px;
    width: 555px;
    height: 380px;
    position: absolute;
    left: 104px;
    z-index: 10;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.Services .sev_row .dif_img1 h2{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: start;
    position: relative;
    top: 185px;
    z-index: 15;
}
.Services .sev_row .dif_img2 h2{
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: start;
    position: relative;
    top: 141px;
    z-index: 15;
}
.Services .sev_row .dif_img2 p{
    color: #fff;
    position: relative;
    top: 143px;
    z-index: 15;
    text-align: start;
    font-size: 15px;
}
.Services .sev_row .hed_link2:before {
    content: "";
    border-radius: 10px;
    width: 262.5px;
    height: 250px;
    position: absolute;
    right: 397px;
    z-index: 12;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.Services .sev_row .hed_link3:before {
    content: "";
    border-radius: 10px;
    width: 262.5px;
    height: 250px;
    position: absolute;
    right: 106px;
    z-index: 13;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.Services .sev_row .col-3 a{
    text-decoration: none;
}

.Services .sev_row .dif_img1 a .an_i3{
    position: relative;
    left: 245px;
}
.Services .sev_row .dif_img1 a .an_i3{
    position: relative;
    left: 106px;
    background-color: #16267a;
    color: white;
    height: 73px;
    padding: 33px 13px 10px 10px;
    width: 50px;
    text-align: right;
    border-radius: 55px 0 8px 0;
    top: 124px;
    z-index: 15;
}
.Services .sev_row .dif_img2 a .an_i4{
    position: relative;
    left: 245px;
}
.Services .sev_row .dif_img2 a .an_i4{
    position: relative;
    left: 107px;
    background-color: #16267a;
    color: white;
    height: 73px;
    padding: 33px 13px 10px 10px;
    width: 50px;
    text-align: right;
    border-radius: 55px 0 8px 0;
    top: 20px;
    z-index: 15;
}

.Services .sev_row .row_dif1{
    background-image: url(../images/3.1.png);
    width: 262.5px;
    height: 250px;
    margin-right: 30px;
    margin-top: 30px;
}
.Services .sev_row .row_dif2{
    background-image: url(../images/3.2.png);
    width: 262.5px;
    height: 250px;
    margin-right: 30px;
    margin-top: 30px;
}
.Services .sev_row .row_dif3{
    background-image: url(../images/3.3.jpg);
    width: 555px;
    height: 385px;
    position: relative;
    bottom: 104px;
}
.Services .sev_row .row_dif1:before {
    content: "";
    border-radius: 10px;
    width: 262.5px;
    height: 250px;
    position: absolute;
    left: 104px;
    z-index: 10;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.Services .sev_row .row_dif2:before {
    content: "";
    border-radius: 10px;
    width: 262.5px;
    height: 250px;
    position: absolute;
    left: 397px;
    z-index: 12;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.Services .sev_row .row_dif3:before {
    content: "";
    border-radius: 10px;
    width: 555px;
    height: 385px;
    position: absolute;
    right: 0px;
    z-index: 13;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.Services .sev_row .row .cont_row2_1 h3{
    position: relative;
    z-index: 15;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: start;
    top: 141px;
}
.Services .sev_row .row .cont_row2_1 p{
    color: #fff;
    position: relative;
    top: 143px;
    z-index: 15;
    text-align: start;
    font-size: 15px;
}

.Services .sev_row .row .cont_row2_1 .cont_i1{
    position: relative;
    left: 245px;
}
.Services .sev_row .row .cont_row2_1 .cont_i1{
    position: relative;
    left: 106px;
    background-color: #16267a;
    color: white;
    height: 73px;
    padding: 33px 13px 10px 10px;
    width: 50px;
    text-align: right;
    border-radius: 55px 0 8px 0;
    top: 40px;
}
.Services .sev_row .row .cont_row2_2 h3{
    position: relative;
    z-index: 15;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: start;
    top: 195px;
    z-index: 15;
}
.Services .sev_row .row .cont_row2_2 .cont_i2{
    position: relative;
    left: 245px;
}
.Services .sev_row .row .cont_row2_2 .cont_i2{
    position: relative;
    left: 107px;
    background-color: #16267a;
    color: white;
    height: 73px;
    padding: 33px 13px 10px 10px;
    width: 50px;
    text-align: right;
    border-radius: 55px 0 8px 0;
    top: 145px;
    z-index: 15;
}
.Services .sev_row .row .cont_row2_3 .cont_i3{
    position: relative;
    left: 245px;
}
.Services .sev_row .row .cont_row2_3 .cont_i3{
    position: relative;
    left: 253px;
    background-color: #16267a;
    color: white;
    height: 73px;
    padding: 33px 13px 10px 10px;
    width: 50px;
    text-align: right;
    border-radius: 55px 0 8px 0;
    top: 312px;
    z-index: 15;
}
.Services .sev_row .r3{
    margin-top: -73px;
}

.Services .sev_row .row2_dif1{
    background-image: url(../images/4.1.png);
    width: 555px;
    height: 255px;
    margin-right: 30px;
}
.Services .sev_row .row2_dif2{
    background-image: url(../images/4.2.png);
    width: 262.5px;
    height: 250px;
    margin-right: 30px;
}
.Services .sev_row .row2_dif2{
    background-image: url(../images/4.3.jpg);
    width: 262.5px;
    height: 250px;
}

.Services .sev_row .row2_dif1:before {
    content: "";
    border-radius: 10px;
    width: 555px;
    height: 255px;
    position: absolute;
    left: 104px;
    z-index: 10;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.Services .sev_row .row2_dif2:before {
    content: "";
    border-radius: 10px;
    width: 262.5px;
    height: 250px;
    position: absolute;
    right: 397px;
    z-index: 12;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.Services .sev_row .row2_dif3:before {
    content: "";
    border-radius: 10px;
    width: 262.5px;
    height: 250px;
    position: absolute;
    right: 105px;
    z-index: 13;
    background: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%);
}
.Services .sev_row .row .cont2_row2_1 h1{
    position: relative;
    z-index: 15;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: start;
    top: 185px;
}
.Services .sev_row .row .cont2_row2_1 p{
    color: #fff;
    position: relative;
    top: 181px;
    z-index: 15;
    text-align: start;
    font-size: 15px;
}
.Services .sev_row .row .cont2_row2_2 h1{
    position: relative;
    z-index: 15;
    font-size: 20px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: start;
    top: 170px;
}
.Services .sev_row .row .cont2_row2_2 p{
    color: #fff;
    position: relative;
    top: 165px;
    z-index: 15;
    text-align: start;
    font-size: 15px;
}
.Services .sev_row .row .cont2_row2_3 h1{
    position: relative;
    z-index: 15;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 0 10px #000;
    text-align: start;
    top: 198px;
}
.Services .sev_row .row .cont2_row2_1 .cont2_i1{
    position: relative;
    left: 245px;
}
.Services .sev_row .row .cont2_row2_1 .cont2_i1{
    position: relative;
    left: 253px;
    background-color: #16267a;
    color: white;
    height: 73px;
    padding: 33px 13px 10px 10px;
    width: 50px;
    text-align: right;
    border-radius: 55px 0 8px 0;
    top: 67px;
    z-index: 15;
}
.Services .sev_row .row .cont2_row2_2 .cont2_i2{
    position: relative;
    left: 245px;
}
.Services .sev_row .row .cont2_row2_2 .cont2_i2{
    position: relative;
    left: 107px;
    background-color: #16267a;
    color: white;
    height: 73px;
    padding: 33px 13px 10px 10px;
    width: 50px;
    text-align: right;
    border-radius: 55px 0 8px 0;
    top: 40px;
    z-index: 15;
}
.Services .sev_row .row .cont2_row2_3 .cont2_i3{
    position: relative;
    left: 245px;
}
.Services .sev_row .row .cont2_row2_3 .cont2_i3{
    position: relative;
    left: 107px;
    background-color: #16267a;
    color: white;
    height: 73px;
    padding: 33px 13px 10px 10px;
    width: 50px;
    text-align: right;
    border-radius: 55px 0 8px 0;
    top: 146px;
    z-index: 15;
}
.footer_one{
    background-image: url(../images/footerPhoto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 165px 0px 570px;
    position: relative;
}
.footer_one  .container{
    background-color: transparent;
    border: 1px transparent;
    color: inherit;
    margin: 0 auto;
    width: auto;
    position: relative;
    text-align: center;
    left: 90px;
}
.footer_one  .container .p_titel{
    font-size: 33px;
}
.footer_one  .container p{
    font-size: 16px;
    margin-bottom: 46px;
    margin-top: -30px;
}
.footer_one  .container a{
    background-color: #013068;
    border-radius: 20px;
    color: white;
    text-decoration: none;
    padding: 18px;
    font-size: 13px;
}
.footer_one  .container .follow{
    font-size: 33px;
    margin-top: 50px;
    color: #313131;
}
.footer_one  .container .icon_list li{
    color: #1a272e;
    font-size: 1.1em;
    background-color: rgba(224,237,245,.9);
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    margin: -10px 15px 0 0;
}

.footer_one  .container .icon_list li:hover{
    background-color: #02027c;
    color: white;
    transition:0.6s;
}
.footer_two{
    width: 100%;
    height: 790px;
    background: linear-gradient(180deg, transparent 0, #041571 40%);
    position: relative;
    margin-top: -350px;
}
.footer_two .container .foot1 .row_1{
    color: #fff;
    text-shadow: 0 0 10px #000;
    font-weight: bold;
}
.footer_two .container .foot1 .row_1 div:hover{
    cursor: pointer;
    text-decoration: underline;
}
.footer_two .container .foot1 .row_2{
    color: #e9e8e8;
    font-size: 13px;
    padding: 10px 0 0 0;
}
.footer_two .container .foot1 .row_2 div:hover{
    cursor: pointer;
    text-decoration: underline;
}

.footer_two .container .foot1 {
    margin-top: 50px;
    padding-bottom: 50px;
    position: relative;
    border-bottom: 1px solid #fff;
}
.footer_two .container .foot2 .foot_hed{
    text-align: center;
    color: #fff;
    margin-top: 75px;
    font-size: 25px;
}
.footer_two .container .foot2 .mobile{
    padding-top: 30px;
    color: #fff;
    width: 52%;
    margin: 0 auto;
    font-size: 1em;
}
.footer_two .container .foot2 .mobile .mob1 {
    font-size: .7em;
    width: 50%;
    border-right: 1px solid #fff;
    display: inline-block;
    padding: 20px;
    text-align: right;
}
.footer_two .container .foot2 .mobile .mob1 .stor ,
.footer_two .container .foot2 .mobile .mob1 .play ,
.footer_two .container .foot2 .mobile .mob1 .gallery
{
    margin-bottom: 5px;
}

.footer_two .container .foot2 .mobile .mob2{
    display: inline-block;
    text-transform: uppercase;
    padding: 40px;
    font-size: 21px;
    background-color: #16267a;
    border-radius: 10px;
    width: 46%;
    position: relative;
    bottom: 40px;
    margin-left: 17px;
}
.footer_two .container .foot2 .mobile .mob2 .star .rate2{
    font-size: 30px;
}
.footer_two .container .foot2 .line_foot{
    text-align: center;
    background-color: white;
    height: 1px;
    margin-top: 50px;
}
.footer_two .container .foot3{
    color: white;
    margin: 10px -80px 10px 0;
    font-size: 11px;
}

/* End Services */